@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,600,900&display=swap);

//Colors
$primary-color: #000;
$secondary-color: rgb(56, 56, 56);


//Main
.App {
  width: 100%;
  height: 100vh;
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  height: calc(100vh);
  background-color: transparent;
  font-family: 'Libre Franklin', sans-serif;
}




//Text
h1,
h2,
h3 {
  font-family: 'Libre Franklin', sans-serif;
}

h1,
h2 {
  font-weight: 800;
}

ul {
  padding-inline-start: 0;
}

input {
  text-align: center;
}


//Helpers
.hide {
  display: none;
}

.bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.fit-content {
  width: fit-content;
}

.full-width {
  width: 100%;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-spread-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-spread-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.border-left {
  border-left: .5px solid grey;
  margin-left: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

// Helper css components
.separator {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-top: 5px;
}

.avatar {
  img {
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}

// Sections
.main-content-wrapper {
  @extend .flex-center-column;
}

.rep {
  @extend .avatar;
}

.tabs-section {
  position: absolute;
  top: 100vh;
  width: 100%;
}

//Overrides

//Tabs
.nav {
  flex-wrap: unset;
  border-bottom: 0;
}

.nav-tabs {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;

  .nav-link {
    border: 0;
    font-size: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all .3s;

    &:hover, &:active {
      color: white;
      background-color: #777;
    }

    .active {
      border: 0;
    }
  }
}




